@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.main__container {
  padding-top: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  height: 40px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.logo img {
  padding-bottom: 10px;
}

.location__container {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.268);
  position: relative;
  z-index: 1;
}

#restaurant-location {
  background-color: #EAEAEA;
  width: 122px;
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.fa-location-dot {
  margin-right: 15px;
}

.search-bar input[type=search] {
  border: none;
}

.search-bar input[type=search]::-moz-placeholder {
  color: black;
}

.search-bar input[type=search]::placeholder {
  color: black;
}

.search-bar input[type=search]:focus {
  outline: none;
}

.section__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  background-color: #F6F6F6;
}
.section__book .book__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0 20px;
}
.section__book .book__container .book__title h2 {
  text-align: center;
  font-size: 24px;
  margin: 0 0 10px 0;
}
.section__book .book__container .book__text {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 20px 0;
}
.section__book .book__container .book__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  padding: 10px 20px;
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 90%);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.section__book .book__container .book__button:hover {
  background: linear-gradient(180deg, #ff93e1 10%, #a16be0 90%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.section__book .book__container .book__button .button__text {
  font-weight: 400;
  font-size: 16px;
  margin: 5px;
}

.instructions {
  margin: 40px 20px;
}
.instructions__title {
  margin: 20px 0;
}

.steps__container {
  display: flex;
  flex-direction: column;
}
.steps__container .step__one,
.steps__container .step__two,
.steps__container .step__three {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #F6F6F6;
  padding: 15px;
  margin: 10px;
}
.steps__container .step__one .step__numbers,
.steps__container .step__two .step__numbers,
.steps__container .step__three .step__numbers {
  background-color: #9356DC;
  color: white;
  position: absolute;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 20px;
  transform: translateX(-115%) translateY(50%);
}
.steps__container .step__iconandtxt {
  display: flex;
  align-items: center;
  margin: 15px 20px;
}
.steps__container .step__iconandtxt .step__text {
  margin-left: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.steps__container .fa-store {
  color: #9356DC;
}
.steps__container .fa-mobile-screen-button,
.steps__container .fa-list-ul {
  color: #7E7E7E;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 20px;
  padding-bottom: 80px;
}
.restaurants__title {
  margin: 30px 0 20px 0;
}
.restaurants .container {
  display: flex;
  flex-direction: column;
}
.restaurants .container .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants .container .card {
  height: 251px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
}
.restaurants .container .card img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .container .card .card__label--1,
.restaurants .container .card .card__label--2,
.restaurants .container .card .card__label--3,
.restaurants .container .card .card__label--4 {
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10px;
  right: 20px;
}
.restaurants .container .card .card__label--3,
.restaurants .container .card .card__label--4 {
  visibility: hidden;
}
.restaurants .container .card .card__content {
  display: flex;
}
.restaurants .container .card .card__content .card__txt {
  padding: 0 0 10px 10px;
  color: black;
  position: relative;
}
.restaurants .container .card .card__content .card__txt h3 {
  margin: 10px 0 5px 0;
}
.restaurants .container .card .card__content .card__icon .fa-heart {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 1.4em;
  color: black;
}
.restaurants .container .card .card__content .card__icon .card__icon-full .fa-heart {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 1.4em;
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 90%);
  -webkit-background-clip: text;
  /* Utilisation de la couleur de texte pour le dégradé */
  background-clip: text;
  color: transparent;
  /* Rendre le texte transparent */
  animation: none;
}
.restaurants .container .card .card__content .card__icon:hover .card__icon-full .fa-heart {
  display: block;
  /* Affiche l'icône lorsque l'élément avec la classe .card__icon est survolé */
  animation: myAnim 1.4s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px;
  display: flex;
}
.footer__container .footer__logo img {
  width: 120px;
  height: 20px;
  margin-bottom: 15px;
}
.footer__container .footer__logo-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
}
.footer__container .footer__logo-text .prop-restaurant {
  margin-left: 5px;
}
.footer__container .footer__logo-text .fa-utensils,
.footer__container .footer__logo-text .fa-handshake-angle {
  margin-right: 5px;
  font-size: 0.8em;
}
.footer__container .footer__logo-text a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    max-width: 100%;
  }
  .section__book {
    min-height: 150px;
  }
  .section__book .book__container {
    justify-content: flex-start;
    margin: 30px;
  }
  .section__book .book__container .book__title {
    margin-bottom: 20px;
  }
  .section__book .book__container .book__title h2 {
    font-size: 40px;
  }
  .section__book .book__container .book__button {
    min-width: auto;
  }
  .instructions,
  .container {
    padding: 0 20px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .steps__container {
    flex-direction: row;
    gap: 50px;
  }
  .steps__container .step__one,
  .steps__container .step__two,
  .steps__container .step__three {
    margin: 0;
    padding: 10px;
    width: calc(30.3% - 20px);
    max-width: none;
  }
  .restaurants {
    padding: 0;
    padding-bottom: 30px;
  }
  .restaurants .container .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .restaurants .container .cards .card {
    max-width: calc(100% - 30px);
  }
  .footer__container {
    flex-direction: row-reverse;
    align-items: center;
    height: 110px;
    padding-top: 60px;
  }
  .footer__container .footer__logo-text {
    flex-direction: row;
    gap: 10px;
  }
  .footer__container .footer__logo-text .mentions {
    margin-left: 40px;
  }
  .footer__container .footer__logo {
    margin-top: 5px;
  }
  .footer__container .footer__logo img {
    margin: 0;
    margin-left: 60px;
    width: 80px;
    height: 15px;
  }
}/*# sourceMappingURL=style.css.map */