@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.nav__container {
  display: flex;
  justify-content: center;
}
.nav__container .logo {
  height: 30px;
  margin: 20px 0 20px 0;
}
.nav__container .fa-arrow-left {
  position: absolute;
  top: 7px;
  left: 30px;
  margin-top: 20px;
  color: black;
}

body {
  background-color: #F6F6F6;
}
body h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}
body .banner__restaurant img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .delice-des-sens__section {
  padding: 20px 20px 0 15px;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin-top: -30px;
}
body .restaurants__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
body .restaurants__title .fa-heart {
  color: black;
  font-size: 24px;
}

.border__title {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-bottom: 10px;
}

.menu__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 40px 0 5px 0;
}

.cards__entrees,
.cards__plats,
.cards__desserts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cards__entrees .card-1,
.cards__entrees .card-2,
.cards__entrees .card-3,
.cards__plats .card-1,
.cards__plats .card-2,
.cards__plats .card-3,
.cards__desserts .card-1,
.cards__desserts .card-2,
.cards__desserts .card-3 {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: white;
  padding: 15px 0 15px 15px;
}
.cards__entrees .text-content__menu,
.cards__plats .text-content__menu,
.cards__desserts .text-content__menu {
  /* gestion hide ...*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 15px);
}
.cards__entrees .text-content__menu .bloc-text__menu,
.cards__plats .text-content__menu .bloc-text__menu,
.cards__desserts .text-content__menu .bloc-text__menu {
  display: flex;
  flex-direction: column;
}
.cards__entrees .text-content__menu .card__title,
.cards__plats .text-content__menu .card__title,
.cards__desserts .text-content__menu .card__title {
  font-weight: 500;
  margin-bottom: 5px;
  /* gestion hide ...*/
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards__entrees .text-content__menu .text-price__menu,
.cards__plats .text-content__menu .text-price__menu,
.cards__desserts .text-content__menu .text-price__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.cards__entrees .text-content__menu .text-price__menu .card__description,
.cards__plats .text-content__menu .text-price__menu .card__description,
.cards__desserts .text-content__menu .text-price__menu .card__description {
  font-weight: 300;
  /* gestion hide ...*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.button__container .book__button {
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 90%);
  min-width: 50%;
  padding: 15px 20px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.button__container .book__button:hover {
  background: linear-gradient(180deg, #ff93e1 10%, #a16be0 90%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.menu__checker {
  position: absolute;
  right: -20%;
  top: 0;
  height: 100%;
  width: 15%;
  transform: translateY(0);
  color: #99E2D0;
  opacity: 1;
  transition: all 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__checker::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #99e2d0;
  transition: background-color 1s ease-in-out;
  z-index: -1;
}
.menu__checker .fa-circle-check {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  transition: transform 1s ease;
}

.card-1:hover .menu__checker .fa-circle-check {
  transform: translate(-50%, -50%) rotate(360deg);
}

.card-2:hover .menu__checker .fa-circle-check {
  transform: translate(-50%, -50%) rotate(360deg);
}

.card-3:hover .menu__checker .fa-circle-check {
  transform: translate(-50%, -50%) rotate(360deg);
}

.entrees .card,
.plats .card,
.desserts .card,
.card-1,
.card-2,
.card-3 {
  position: relative;
  overflow: hidden;
}
.entrees .card:hover .menu__checker,
.plats .card:hover .menu__checker,
.desserts .card:hover .menu__checker,
.card-1:hover .menu__checker,
.card-2:hover .menu__checker,
.card-3:hover .menu__checker {
  opacity: 1;
  right: 0;
}
.entrees .card:hover .menu__checker::after,
.plats .card:hover .menu__checker::after,
.desserts .card:hover .menu__checker::after,
.card-1:hover .menu__checker::after,
.card-2:hover .menu__checker::after,
.card-3:hover .menu__checker::after {
  background-color: #99e2d0;
}
.entrees .card .text-content__menu,
.plats .card .text-content__menu,
.desserts .card .text-content__menu,
.card-1 .text-content__menu,
.card-2 .text-content__menu,
.card-3 .text-content__menu {
  width: 100%;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease;
  /* Fonction de temporisation de la transition */
}
.entrees .card:hover .text-content__menu,
.plats .card:hover .text-content__menu,
.desserts .card:hover .text-content__menu,
.card-1:hover .text-content__menu,
.card-2:hover .text-content__menu,
.card-3:hover .text-content__menu {
  width: 80%;
}

.section__icon-full {
  position: relative;
}
.section__icon-full .fa-heart {
  position: absolute;
  bottom: 1px;
  font-size: 1.5em;
  color: black;
  transition: color 0.3s ease;
}
.section__icon-full .fa-solid.fa-heart {
  color: transparent;
}
.section__icon-full:hover .fa-regular.fa-heart {
  display: none;
}
.section__icon-full:hover .fa-solid.fa-heart {
  display: block;
  background: linear-gradient(180deg, #FF79DA 10%, #9356DC 90%);
  -webkit-background-clip: text;
  /* Utilisation de la couleur de texte pour le dégradé */
  background-clip: text;
  color: transparent;
}
.section__icon-full:hover .fa-heart {
  animation: myAnim 0.6s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.1);
  }
}
.footer__container {
  background-color: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.footer__container .footer__logo img {
  width: 120px;
  height: 20px;
  margin-bottom: 15px;
}
.footer__container .footer__logo-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
}
.footer__container .footer__logo-text .prop-restaurant {
  margin-left: 5px;
}
.footer__container .footer__logo-text .fa-utensils,
.footer__container .footer__logo-text .fa-handshake-angle {
  margin-right: 5px;
  font-size: 0.8em;
}
.footer__container .footer__logo-text a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    max-width: 100%;
  }
  body {
    background-color: white;
  }
  body .delice-des-sens__section {
    width: 70%;
    padding-bottom: 5px;
    position: relative;
    left: 15%;
  }
  body .restaurants__title {
    justify-content: center;
    gap: 20px;
  }
  .entrees,
  .plats,
  .desserts {
    width: 60%;
    position: relative;
    left: 20%;
  }
  .button__container {
    width: 40%;
    position: relative;
    left: 30%;
  }
  .footer__container {
    flex-direction: row-reverse;
    align-items: center;
    height: 110px;
    padding-top: 60px;
  }
  .footer__container .footer__logo-text {
    flex-direction: row;
    gap: 10px;
  }
  .footer__container .footer__logo-text .mentions {
    margin-left: 40px;
  }
  .footer__container .footer__logo {
    margin-top: 5px;
  }
  .footer__container .footer__logo img {
    margin: 0;
    margin-left: 60px;
    width: 80px;
    height: 15px;
  }
}/*# sourceMappingURL=style.css.map */