// Pages annexes restaurants //////////////////////////////////
// Variables

$primary-purple: #9356DC;
$secondary-pink: #FF79DA;
$tertiary-green: #99E2D0;
$font-color--label: #008766;

$background-location: #EAEAEA;
$section-background: #F6F6F6;
$icon-color :#7E7E7E;
$footer-color: #353535;



// Mixins ////////////////////

// Button

@mixin purple-button {
    background: linear-gradient(180deg, $secondary-pink 10%, $primary-purple 90%);
    min-width: 50%;
    padding: 15px 20px;
    color: white; // Couleur du texte du bouton
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; // all pour inclure les transitions de l'ombre.
}

// effet survol, éclaircit les couleurs de 10% et aug l'ombre.
@mixin purple-button--hover {
    background: linear-gradient(180deg, lighten($secondary-pink, 5%) 10%, lighten($primary-purple, 5%) 90%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

// lighten($secondary-pink, 10%) éclaircit la couleur $secondary-pink de 10%.
// lighten($primary-purple, 10%) éclaircit la couleur $primary-purple de 10%.
//Les pourcentages 10% et 90% indiquent où les couleurs commencent et finissent dans le gradient.

@mixin cards-effects {

    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

// fonts

@mixin shrinkland {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 24px;
}

a {
    text-decoration: none;
}




/////////////////////////////////////////////////////////////////////////////


.nav__container {
    display: flex;
    justify-content: center;


    .logo {
        height: 30px;
        margin: 20px 0 20px 0;

    }

    .fa-arrow-left {
        position: absolute;
        top: 7px;
        left: 30px;
        margin-top: 20px;
        color: black;

    }
}

body {
    background-color: $section-background;


    h2 {
        @include shrinkland;
    }

    .banner__restaurant img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .palette_du_gout__section {
        padding: 20px 20px 0 15px;
        background-color: $section-background;
        width: 100%;
        border-radius: 30px 30px 0 0;
        position: relative;
        margin-top: -30px;
    }



    .restaurants__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;


        .fa-heart {

            color: black;
            font-size: 24px;

        }
    }

}



// Menus ////////////////////////////////


.border__title {
    height: 3px;
    width: 40px;
    background-color: #99E2D0;
    margin-bottom: 10px;
}


.menu__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 40px 0 5px 0;

}



.cards__entrees,
.cards__plats,
.cards__desserts {
    display: flex;
    flex-direction: column;
    gap: 20px;


    .card-1,
    .card-2,
    .card-3 {
        @include cards-effects;
        background-color: white;
        padding: 15px 0 15px 15px;


    }


    .text-content__menu {
        /* gestion hide ...*/
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 15px); // Réduire la largeur pour permettre les points de suspension





        .bloc-text__menu {
            display: flex;
            flex-direction: column;

        }

        .card__title {
            font-weight: 500;
            margin-bottom: 5px;
            /* gestion hide ...*/
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .text-price__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;




            .card__description {
                font-weight: 300;
                /* gestion hide ...*/
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;


            }
        }
    }

}



.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    .book__button {
        @include purple-button;

        &:hover {
            @include purple-button--hover;
        }
    }
}

// Menu Checker /////////////////////////

.menu__checker {
    position: absolute;
    right: -20%;
    top: 0;
    height: 100%;
    width: 15%; // taille width check effect 
    transform: translateY(0);
    color: $tertiary-green;
    opacity: 1;
    transition: all 1s ease; // Transition pour l'opacité et la position
    display: flex;
    align-items: center;
    justify-content: center;

    // Ajout du fond vert
    &::after {
        content: ''; // Pas de contenu pour le fond vert
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($tertiary-green, 1); // Fond vert transparent
        transition: background-color 1s ease-in-out; // Transition de la couleur du fond
        z-index: -1;
    }

    // Icône check
    .fa-circle-check {
        font-family: "Font Awesome 5 Free"; // Font Awesome
        font-weight: 900;
        font-size: 24px;
        color: white; // Couleur de l'icône check
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg); // Positionnement au centre et rotation
        transition: transform 1s ease; // Transition de la rotation seulement
    }
}

.card-1:hover .menu__checker .fa-circle-check {
    transform: translate(-50%, -50%) rotate(360deg); // Rotation de l'icône check au survol
}

.card-2:hover .menu__checker .fa-circle-check {
    transform: translate(-50%, -50%) rotate(360deg); // Rotation de l'icône check au survol
}

.card-3:hover .menu__checker .fa-circle-check {
    transform: translate(-50%, -50%) rotate(360deg); // Rotation de l'icône check au survol
}

.entrees .card,
.plats .card,
.desserts .card,
.card-1,
.card-2,
.card-3 {
    position: relative;
    overflow: hidden;

    &:hover .menu__checker {
        opacity: 1;
        right: 0;

        // Afficher le fond vert
        &::after {
            background-color: rgba($tertiary-green, 1); // Fond vert opaque   
        }
    }

    .text-content__menu {
        width: 100%;
        transition-property: width;
        transition-duration: 1s;
        transition-timing-function: ease;
        /* Fonction de temporisation de la transition */
    }

    &:hover .text-content__menu {
        width: calc(100% - 20%); // Distance du prix 
    }
}

// Footer ///////////////////////////////

.footer__container {
    background-color: $footer-color;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .footer__logo img {
        width: 120px;
        height: 20px;
        margin-bottom: 15px;

    }

    .footer__logo-text {

        display: flex;
        flex-direction: column;
        gap: 7px;
        color: white;

        .prop-restaurant {
            margin-left: 5px;
        }

        .fa-utensils,
        .fa-handshake-angle {
            margin-right: 5px;
            font-size: 0.8em;

        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}

@media screen and (min-width: 1024px) {

    * {
        margin: 0;
        padding: 0;
    }

    html {
        max-width: 100%;
    }


    body {
        background-color: white;

        .palette_du_gout__section {
            width: 70%;
            padding-bottom: 5px;
            position: relative;
            left: 15%;
        }

        .restaurants__title {
            justify-content: center;
            gap: 20px;
        }
    }

    .entrees,
    .plats,
    .desserts {
        width: 60%;
        position: relative;
        left: 20%;
    }

    .button__container {
        width: 40%;
        position: relative;
        left: 30%;
    }


    // Footer /////////////////////////////


    .footer__container {
        flex-direction: row-reverse;
        align-items: center;
        height: 110px;
        padding-top: 60px;

        .footer__logo-text {
            flex-direction: row;
            gap: 10px;

            .mentions {
                margin-left: 40px;
            }


        }

        .footer__logo {
            margin-top: 5px;

            img {
                margin: 0;
                margin-left: 60px;
                width: 80px;
                height: 15px;
            }
        }

    }



}